# Samsung Knox Disable
CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_RKP=n
CONFIG_RKP_KDP=n
CONFIG_RKP_NS_PROT=n
CONFIG_RKP_DMAP_PROT=n
CONFIG_UH_LKMAUTH=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_RKP_CFP=n
CONFIG_RKP_CFP_JOPP=n
CONFIG_RKP_CFP_JOPP_MAGIC=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_PROCA_S_OS=n
CONFIG_FIVE=n

# KPROBES Disable
CONFIG_KPROBES=n
CONFIG_HAVE_KPROBES=n

# Kernel Name Setting
CONFIG_LOCALVERSION="-GoRhanHee_Kernel_OneUI4"
CONFIG_LOCALVERSION_AUTO=n

# Implement Ramdisk in boot.img
CONFIG_ANDROID_SAR_RAMDISK=y
CONFIG_ANDROID_BOOT_PARTITION="/dev/sda14"